# Compiled Object files
crypter
output
cmake_install.cmake
CMakeCache*
*stream
*test_run*
test_example
install*
jnxc_headers
test-run_prefix
*Cache.txt
*.dylib
*.a
*.cmake
docs/xml
*.dSYM
*.slo
*.lo
*.o
*.log
build
*~
*swp
*so
lib
CMakeFiles*
Makefile
*.kdev4*
*.so
*-swp
*.lai
*.la
*.bin
*.swo
*.swp
tags
.idea
